html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px; 10px/16px = 62.5% */
  font-family: "Roboto", sans-serif;
  touch-action: manipulation;
}

html,
body {
  position: fixed;
  overflow: hidden;
}

#root {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: visible;
  -webkit-overflow-scrolling: touch;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
